all:
  vars:
    ansible_user: ansible
    ansible_python_interpreter: /usr/bin/python3
  children:
    k3s_servers:
      hosts:
        rancher-prod-01: { ansible_host: 192.0.2.11 }
        rancher-prod-02: { ansible_host: 192.0.2.12 }
        rancher-prod-03: { ansible_host: 192.0.2.13 }
