token: "{{ k3s_token_slurp.content | b64decode | trim }}"
tls-san:
  - "{{ kube_vip_api_address }}"
  - "{{ rancher_hostname }}"
disable:
  - traefik
  - servicelb
{% if k3s_bootstrap %}
cluster-init: true
{% else %}
server: "https://{{ kube_vip_api_address }}:6443"
{% endif %}
